.navbar {
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  background-color: #778899;
  min-height: 50px;
}

.navbar_item {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar_item:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: 0.5s all;
}

@media (max-width: 628px) {
  .navbar_item {
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
  }
}
